<section>

    <article>
        <form class="base-form" action="#" onsubmit="return false;">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <select>
                    <option value="data">Data</option>
                    <option value="distancia">Distância</option>
                </select>
                <label class="mdl-textfield__label" for="nome">Ordernar</label>
            </div>

            <table class="mdl-data-table mdl-js-data-table">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Evento</th>
                    <th>Data/Horário</th>
                    <th>Distância</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Unidos no Pedal</td>
                    <td>14/01/2017 15:30</td>
                    <td>3,5 km</td>
                </tr>
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">Pedaleiros</td>
                    <td>15/01/2017 08:00</td>
                    <td>10 km</td>
                </tr>
                </tbody>
            </table>
        </form>
    </article>


    <a class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" ui-sref='criar-evento'>
        <i class="material-icons">add</i>
    </a>
</section>